{% extends 'base.html' %}

{% block title %}
Add a new Pet
{% endblock %}

{% block content %}

<h1 class="">Add a new pet!</h1>

<form id="pet-add-form" method="POST" class="col-8">
    {{ form.hidden_tag() }}
    <!--add type=hidden form fields -->

    {% for field in form
        if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label (class="form-label")}}
        {{ field (class="form-control") }}

        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    </p>

    {% endfor %}
    <div class="text-center">
        <button class='btn btn-info form-actions px-5' type="submit">Add Pet</button>
    </div>
</form>


{% endblock %}